* {
  margin: 0;
  padding: 0;
  list-style: none;
}

:root {
  --main-background-colours: #917bc7;
  --input-border: #e5e7eb;
}

body {
  display: flex;
  flex-direction: row;
  min-height: 100vh;

}

/* || LEFT SIDE OF FORM */
.sidebar {
  flex: 1;
  background-image: url("./side-splash.jpg");
  background-position: 50% 40%;
  background-size: cover;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.logo-and-text {
  position: relative; 
  bottom: 20%;
  display: flex;
  align-items: center;
}
.sidebar > .logo-and-text > img {
  background-image: url("./odin-lined.png");
  background-position: 50% 20%;
  background-size: contain;
  background-repeat: no-repeat;
  height: 50%;
}
.text {
  font-size: 4em;
  text-align: center;
  font-family: Sans;
  color: white;
  padding: 10px;
  text-shadow: 1px 1px 2px pink;
}


/* || RIGHT SIDE */
.main {
  flex: 1.75;
  background-color: var(--main-background-colours);

  display: flex;
  flex-direction: column;
}

/* .main > div { border: 1px solid red } */

.quote { 
  flex: 25%;
  font-size: 2rem;
  flex-basis: 20%;
  font-family: sans;
  max-width: 45ch;
  font-weight: bold;
  color: white;
  font-style: italic;
}
.quote > div {
  padding-top: 10%;
  padding-left: 1em;
}
.bottom {
  flex: 25%;
  background-color: var(--main-background-colours);
} 
.form-body {
  background-color: #cac;
  flex: 50%;
  box-shadow: 0px 100px 50px 10px black;
}
