* {
  margin: 0;
  padding: 0;
  list-style: none;
}

:root {
  --main-background-colours: #282828;
  --background-colour: #aaa;
  --input-border: #e5e7eb;
}

body {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}

/* || LEFT SIDE OF FORM */
.sidebar {
  flex: 1;
  background-image: url("./side-splash.jpg");
  background-position: 50% 40%;
  background-size: cover;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo-and-text {
  margin-top: 40px;
  justify-content: center;
  display: flex;
  align-items: center;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
}
.sidebar > .logo-and-text > img {
  background-image: url("./odin-lined.png");
  background-position: 50% 20%;
  background-size: contain;
  background-repeat: no-repeat;
  height: 280px;

}
.text {
  font-size: 4em;
  text-align: center;
  font-family: Sans;
  color: white;
  padding: 10px;
  text-shadow: 1px 1px 2px pink;
}


/* || RIGHT SIDE */
.main {
  flex: 1.75;
  background-color: var(--main-background-colours);

  display: flex;
  flex-direction: column;
}

/* .main > div { border: 1px solid red } */

.quote { 
  flex: 40%;
  font-size: 1.75rem;
  flex-basis: 20%;
  font-family: sans;
  max-width: 45ch;
  font-weight: bold;
  color: white;
  font-style: italic;
}
.quote > div {
  padding-top: 100px;
  padding-left: 1em;
}
.form-body {
  padding: 20px;
  background-color: var(--background-colour);
  flex: 30%;
  box-shadow: 0px 100px 50px 10px black;

  display: flex;
  justify-content: left;
  flex-direction: column;
  padding-left: 3rem;
}
.form-body > p {
  font-size: 2em;
}

.fields {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 600px;
  flex: 1;

  font-family: monospace;
  font-size: 1.2em; 
  gap: 20px;
}

.fields > * {
  margin: 1em 0;
}

.fields > div {
  display: flex;
  flex-direction: column;
}

.fields > div > input {
  height: 30px;
  width: 275px;
  font-size: 24px;
  font-family: sans;
}
input:required:valid {
  border: none;
  outline: 2px solid #aea;
}
input:required:invalid {
  border: none;
  outline: 2px solid red;
}
.fields > div > input:focus {
  border: none;
  outline: 2px solid blue;
  box-shadow: 0px 0px 10px 1px black;
}



.bottom {
  flex: 20%;
  background-color: var(--main-background-colours);
} 
.create-account-button > button {
  margin-top: 10px;
  margin-left: 10px;
  background-color: white;
  border: 2px solid white;
  border-radius: 20px;
  width: 280px;

  font-size: 2em;
  font-family: sans;
}
.create-account-button > button:hover {
  background-color: grey;
  border: 2px solid grey;
}
